.photo-grid {
  max-width: 1184px;
  max-height: fit-content;
  margin: 92px auto 0;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 16px;
  display: grid;
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    max-width: 928px;
    max-height: fit-content;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 14px;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    max-width: 720px;
    max-height: fit-content;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-top: 88px;
  }
}

@media screen and (max-width: 320px) {
  .photo-grid {
    max-width: 288px;
    max-height: fit-content;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 12px;
    margin-top: 64px;
  }
}