.place__container {
 max-width: fit-content;
 max-height: fit-content;
 margin: 0;
}

@media screen and (max-width: 320px) {
  .place__container {
    max-width: 288px;
    margin: 0 auto;
    grid-column: 1;
    grid-row: 4;
  }
}