.footer__links {
  width: fit-content;
  height: 18px;
  display: flex;
  gap: 18px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer__links {
    flex-direction: column;
    gap: 32px;
  }
}