.intro__text {
  max-width: 690px;
  margin-top: 40px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 33px;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: white;
}