.cover {
  margin: 0 auto 92px;
  max-width: 1184px;
  height: fit-content;
}

@media screen and (max-width: 1024px) {
  .cover {
    max-width: 1024px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    max-width: 768px;
  }
}

@media screen and (min-width: 320px) {
  .cover {
    min-width: 320px;
    margin-bottom: 64px;
  }
}