.cover__background {
  width: 1184px;
  height: 740px;
  position: absolute;
  background-image: url(../../../images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  transition: .5s ease-in-out;
  z-index: 5;
  opacity: .7;
}

.cover__background:hover {
  opacity: .3;
}

@media screen and (max-width: 1024px) {
  .cover__background {
    width: 1024px;
    height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover__background {
    width: 768px;
    height: 480px;
  }
}

@media screen and (max-width: 320px) {
  .cover__background {
    width: 320px;
    height: 200px;
  }
}