.place {
  margin-bottom: 80px;
  max-width: 984px;
  max-height: fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content 1fr;
  column-gap: 48px;
  row-gap: 40px;
}

@media screen and (max-width: 1024px) {
  .place {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    max-width: 720px;
    margin-bottom: 73px;
  }
}

@media screen and (max-width: 320px) {
  .place {
    max-width: 320px;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content min-content min-content;
    margin-bottom: 50px;
  }
}

