.place__website {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

@media screen and (max-width: 320px) {
  .place__website {
    grid-column: 1;
    grid-row: 2;
    min-width: 288px;
    margin: 0 auto;
  }
}