.intro__title {
  max-width: 690px;
  font-family: 'Inter';
  font-size: 54px;
  font-weight: 900;
  line-height: 58px;
  color: white;
  margin: 0 0;
}

@media screen and (max-width: 320px) {
  .intro__title {
    font-family: 'Inter';
    font-size: 32px;
    font-weight: 900;
    line-height: 35px;
  }
}